@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(asset/Sqvz.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body.slow-rain {
  background: gold;
}

body.smoke {
  background: green;
}

body.night {
  background: gold;
}

body.suny {
  background: orange;
}

.container {
  position: relative;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  padding: 15px;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.location h1 {
  padding-bottom: 5px;
}

.location i {
  font-size: 18px;
}

.location .country {
  padding-left: 10px;
  font-size: 16px;
}

.time div {
  display: flex;
  align-items: flex-end
}

.time div p {
  padding: 8px;
  font-size: 17px;
}

section {
  padding: 6rem 1rem;
}

.temp-status h1 {
  font-size: 6rem;
  font-weight: 400;
}

.temp-status p {
  padding: 5px;
  font-size: 17px;
}

footer {
  padding: 10px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul li p {
  font-size: 14px;
  padding-top: 5px;
  color: #191919;
}